
/* nav bar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: cyan;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.hero-text{
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: cyan;
  text-shadow: black 3px 2px 2px;
  font-size: 60px;
} 
/*Content Starts here!!! */
.careersBg {
  background-image: url('https://images.unsplash.com/photo-1530099486328-e021101a494a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2016&q=80');
  background-position: center;
  background-size: 1300px;
  height: 100vh;
  margin:0px;
}
html body{
  height: 100vh;
    margin:0px;
}
/*Cards Boarders*/
.wrapper {
	display: flex;
}
.card {
  transition: 0.3s;
  width: 40%;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
  padding: 2px 16px;
}
/* Footer */
/*footer {
 background-color:#C0C5C1;
 position: relative;
 bottom: 0;
 width: 100%;
}
#media{
  text-decoration:none;
  justify-content: center;
  boarder:none;
  display:flex;
}
#media a {
  padding: 12px;
}

#logo-footer {
  font-weight:bold;
  text-align: center;
  letter-spacing: 4px;
  color: cyan; 
  text-decoration: none;
  padding: 2px;
}
.copy{
  text-align: center;
    color: black;
    margin: 0;
    padding: 8px 0 15px 0;
}
.fa {
  padding: 0px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}*/

footer {
 background-color:#C0C5C1;
 position: relative;
 bottom: 0;
 width: 100%;
  display: block;
}
#media{
  text-decoration:none;
  justify-content: center;
}
#media a {
  padding: 12px;
}

#logo-footer {
  font-weight:bold;
  text-align: center;
  letter-spacing: 4px;
  color: #111; 
  text-decoration: none;
  padding: 2px;
}
.copy{
  text-align: center;
    color: black;
    margin: 0;
    padding: 8px 0 15px 0;
}
.fa {
  padding: 0px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: #333;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.footerContent{
  text-align: center;
}